body header {
    display: flex;
    justify-content: center;
    align-items: center;
}
body header img {
    width: 200px;
}
body header * {
    padding: 0 10px; 
}
body nav {
    display: flex;
    justify-content: center;
}
body nav * {
    padding: 10px;
    margin: 3px;
}
footer {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
}
footer > div {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    max-width: 50%;
    /* min-width: 40%; */
    align-items: center;
}
footer div * {
    width: 50px;
}
footer div > * {
    margin: 8px;
    transition: scale 0.1s;
}
footer div > *:not(:hover) {
    scale: 100%;
}
footer div > *:hover {
    scale: 110%;
}
footer div > * {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.336);
}
footer div > *:focus * {
    background-color: rgba(0, 0, 255, 0.363);
}]
.perfil {
    width: 200px;
}
.perfil * {
    width: 100%;
}